services:
  source_postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    networks:
      - elt_network
    volumes:
      - source_postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      POSTGRES_USER: source_user
      POSTGRES_PASSWORD: source_password
      POSTGRES_DB: source_db

  destination_postgres:
    image: postgres:15
    ports:
      - "5433:5432"  
    networks:
      - elt_network
    volumes:
      - destination_postgres_data:/var/lib/postgresql/data  
    environment:
      POSTGRES_USER: destination_user
      POSTGRES_PASSWORD: destination_password
      POSTGRES_DB: destination_db

  elt_script:
    build:
      context: ./
      dockerfile: Dockerfile
    command: [ "python", "elt_script.py" ]
    networks:
      - elt_network
    depends_on:
      - source_postgres
      - destination_postgres

networks:
  elt_network:
    driver: bridge

volumes:
  source_postgres_data:     
  destination_postgres_data: 